# Python
__pycache__
app.egg-info
*.pyc
.mypy_cache
.coverage
htmlcov
.venv

# Dependencias
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Pruebas
coverage
.nyc_output

# Desarrollo
dist
build

# Entorno
.env
.env.local
.env.*.local

# Editor directorios y archivos
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sistemas de Archivos
.DS_Store
Thumbs.db
